 h3{
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.oral {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.makaronienpitu {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  
}
.shes{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* body{
  margin-left: 7%;
  margin-right: 7%;
} */
.content1 > li{
  margin-top: 100px;
  margin-bottom: 100px;
}
footer{
  text-align: center;
  margin-top: 100px;
}