
header>h1{
  text-align: center;
  font-family: "UD デジタル 教科書体 NK-B","UD デジタル 教科書体 NK-R",sans-serif;
  font-size: 45px;
}
img{
  display:flex;
  margin: auto;
}
.photo-introduction{
  text-align: center;
}
.main-content-top,.main-content-bottom{
  margin-left:10%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.back{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
}
.back > a:hover{
  color: red;
}
footer{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}