html{
  -webkit-text-size-adjust: 100%;
}
header{
  font-family: "UD デジタル 教科書体 NK-B","UD デジタル 教科書体 NK-R",sans-serif;
}
/* body{
  margin: auto;
  padding: auto;
}  */
.main-title{
  display:flex;
  align-items: center;
}
.title-letter{
  display:flex;
  margin:auto;
  /* margin:-15px */
}
.title-ridht{
  font-size: 20px;
  margin-top: 35px;
}
.title-left{
  font-size: 15px;
  padding: 5px;
  margin-left: 20px;
  margin-right: 70px;
}
.hato{
  margin-left: 30px;
  padding: 5px;
}
.containar-field{
  background-color:black;
  margin: auto;
  padding: auto;
}
.row{
  padding: 4px;
}
.content{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: auto;
}

.content>li{ 
  list-style:none;
  color:white;
  vertical-align: middle;
  width: 25%;
  font-size: 15px; 
}
.content >li>a{
  display:block;
  text-decoration: none;
  color:white;
  font-weight: 600;
  padding: 14px;
}
.content >li> a:hover{
  padding-top:5px;
  background-color: gray; 
} 
.main-content{
  margin-right:15px;
  margin-left:15px;
}
span{
  font-weight: 200;
}
#return > a:hover{
  font-size: 15px; 
}